<div id="mynav">
    <!-- Just an image -->
    <nav class="navbar navbar-expand-md">
        <a class="navbar-brand" href="/">
            <span class="w3-text-green" id="blog-head">My Blog</span>
        </a>
        <div class="collapse navbar-collapse  " id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto w3-left">
                <li>
                    <span class=" w3-text-grey">Welcome To My Blog</span>
                </li>
            </ul>
        </div>
    </nav>
</div>
<hr class="w3-grey">